@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');

body{
    font-family: 'Poppins', sans-serif;
}

.first-page{
    overflow: hidden;
}

/* header*/

.header1 {
    /* darker background */
    background-image:linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url(./images/3.jpg);
    height: 100vh;
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
}

.header1 img {
    height: 60px;
}

.header2 {
    /* darker background */
    background-image:linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url(../images/3.jpg);
    height: 90px;
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    margin: 80px;
}

.header2 img {
    height: 60px;
}

.navbar .navbar-nav .nav-item .nav-link:link, .navbar .navbar-nav .nav-item .nav-link:visited {
    color: white;
    margin-right: 20px;
    font-weight: bolder;
}

.navbar .navbar-nav .nav-item .nav-link:hover, .navbar .navbar-nav .nav-item .nav-link:active {
    color: rgb(204, 204, 204);
    margin-right: 20px;
    border-bottom: 2px solid rgb(204, 204, 204);
    transition: border-bottom 0.2s;
}

.navbar button{
    color: white;
}

/* Jumbotron */

.jumbotron {
    color: white;
    padding-top: 100px;
    top: 30%;
    background: none;
}
.jumbotron h1 {
    font-weight: 900;
}

.jumbotron h1, p{
    text-align: center;

}
/* footer */
.footer {
    padding: 260px;
}

.footer a{
    text-decoration: none;
    color: white;
}

.footer a:hover{
    border-bottom: 1px solid white;
}

/* button */
.container-search button{
    align-items: center;
}

/* content */

.content {
    margin-left: 200px;
    margin-right: 200px;
    margin-top: 20px;
}

/* Table */
.table {
    min-width: 400px;
    background-color: white;
    border-radius: 5px ;
}

.stasion_name,
.water_index,
.thead-dark {
    text-align: center;
}

/* Pages-2 City/Region */
.intro h2 {
    font-weight: bold;
}

.intro p {
    align-items: left;
}

.city-page {
    overflow: auto;
}

/* About Pages */

.container-2 {
    margin-left: 10rem;
    margin-right: 10rem;
    top: 5%;
    position: relative;
    padding: 20px 50px 20px 50px;
    background-color: white;
    border-radius: 30px;
}

.container-2 h1{
    font-weight: bold;
}

.content-text-2 {
    text-align: left;
}