
html, body {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
    height: 100%;
}

nav{
    display: flex;
    justify-content: space-around;
    background-color: rgb(22,105,122);
    align-items: center;
    min-height: 8vh;
}

.logo{
    color: white;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-size: 20px;
    font-weight: bold;
}

.logo a{
    text-decoration: none;
    color: white;
}

.nav-links {
    display: flex;
    justify-content: space-around;
    width:20%;
}

.hero-image {
    height: 100%;
    background-position: center;
    background-repeat: repeat-y;
    background-size: cover;
}

.nav-links a{
    text-decoration: none;
    color: white;
}

.nav-links li{
    list-style-type: none;
}

.content {
    position: relative;
}

.header {
    position: absolute;
    text-align: center;
    font-weight: bolder;
    font-size: 20px;
    top: 12%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
}
.opening-words {
    position: absolute;
    top: 21%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    text-align: center;
}

.search-box {
    position: absolute;
    top: 30%;
    padding: 1px 2px 2px 1px;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
}
/*
.nav-links a.active {
    border-bottom: 3px solid white;
}*/

.search-box {
    width: 593.5px;
    color: black;
    border: 15px solid white;
    background: white;
    border-radius: 18px;
    box-shadow: 5px 5px 5px rgba(0,0,0,0.15);
}
.search-box button{
    font-weight: bold;
    font-size: 12pt;
    border-radius: 12px;
    width: 100px;
    height: 45px;
    background-color: rgb(22,105,122);
    border-inline: none;
    color: white;
}
.search-box input{
    border-inline-color: none ;
    width: 480px;
    height: 36px;
    border-radius: 12px;
    text-align: left;
    font-size: 14px;

}
.footer {
    position: absolute;
    top: 56%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    text-align: center;
}

.footer a {
    text-decoration: none;
    color: white;
}

.content-table {
    border-collapse: collapse;
    align-items: center;
    margin: 25px 0;
    font-size: 0.9em;
    min-width: 400px;
    border-radius: 5px 5px 0 0;
    overflow: hidden;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
    font-size: 20px;
}

.content-table thead tr {
    background-color: rgb(22,105,122);
    color: white;
    text-align: center;
    font-weight: bold;
}

.city-nickname {
    font-size: 18px;
    font-weight: bold;
}

.content-table th,
.content-table td {
    padding: 12px 15px;
}

.content-table tbody tr {
    border-bottom: 1px solid #dddddd;
}

.content-table tbody tr:nth-of-type(even) {
    background-color: #f3f3f3;
}
.content-table tbody tr:last-of-type {
    border-bottom: 2px solid rgb(22,105,122);
}

.main-content {
    position: absolute;
    top: 65%;
    margin: 3rem;
    background-color: white;
    padding: 6px 60px 60px 60px;
    border-radius: 18px;
    border: 1px solid grey;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
    
}

.main-content h1 {
    font-size: 32px;
    color:rgb(22,105,122);
}

.stas-name,
.index-name,
.city,
.river {
    text-align: center;
}


/* Popup Text 

.popup {
    position: relative;
    display: inline-block;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }

  .popup .popuptext {
    visibility: hidden;
    width: 160px;
    background-color: #555;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 8px 0;
    position: absolute;
    z-index: 1;
    bottom: 125%;
    left: 50%;
    margin-left: -80px;
  }

  .popup .popuptext::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: #555 transparent transparent transparent;
  }
  /* Toggle this class - hide and show the popup */

  /*.popup .show {
    visibility: visible;
    -webkit-animation: fadeIn 1s;
    animation: fadeIn 1s;
  }
  
  /* Add animation (fade in the popup) */
  /*@-webkit-keyframes fadeIn {
    from {opacity: 0;} 
    to {opacity: 1;}
  }
  
  @keyframes fadeIn {
    from {opacity: 0;}
    to {opacity:1 ;}
  }*/